#text {
  width: 100%;
  height: 40vh;
}

mat-card {
  width: 65vw;
  height: 100%;
  border-style: outset;
  border-color: rgb(82, 168, 238);
  border-width: 3px;
}

mat-form-field, button {
  width: 100%;
}

mat-card-header {
  font-size: 1.5rem;
  font-weight: bold;
}