mat-grid-tile {
  background: white;
}

mat-card {
  margin-top: 40px;
  width: 70%;
}

mat-label{
  font-weight: bold;
  padding: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.one {
  background-color: rgb(245, 202, 209);
}

.two {
  background-color: rgb(202, 245, 208);
}

.three {
  background-color: rgb(245, 202, 245);
}

@media (max-width: 600px) {
  mat-card {
    width: 70vw;
  }
}
