<mat-card>
  <mat-card-header>Instructions for New User</mat-card-header>
  <mat-card-content>
    <ul>
      <li>
        You must provide unique username and email.
      </li>
      <li>
        Your email must have format @xxx.com.
      </li>
      <li>
        Your password must contain at least one special character like %, &, @, ?, $, #...
      </li>
      <li>
        Use 'addRecipe' to create a new recipe and 'editRecipe' to update your own recipe. Only Owner can edit and delete their recipes.
      </li>
      <li>
        Use 'checkNutrient' to check for calories, carb and fat.
      </li>
      <li>
        Use 'Calculator' to calculate the calories per day based on your goal. No data is saved here so only you who can check and see them.
      </li>
    </ul>
    <cite><mat-icon> sentiment_satisfied_alt</mat-icon> I hope that you can enjoy using this app. Moreover, KitchenHelper can be downloaded and used in your telephone. Don't wait to begin saving your favorite recipes.</cite>
    
  </mat-card-content>
</mat-card>
