<mat-card>
  <mat-card-header>Instructions for New User</mat-card-header>
  <mat-card-content>
    <ul>
      <li>
        You must provide unique username and email.
      </li>
      <li>
        Your email must have format @xxx.com.
      </li>
      <li>
        Your password must contain at least one special character like %, &, @, ?, $, #...
      </li>
      <li>
        Use  <span style="color: blueviolet;"><strong>AddRecipe</strong></span> to create a new recipe and <span style="color: rgb(196, 107, 5);"><strong>Edit</strong></span> to update your own recipe. Only Owner can edit and delete their recipes.
      </li>
      <li>
        Use <span style="color: rgb(219, 61, 148);"><strong>Check</strong></span> to read recipe. If you have a long ingredients list and many steps in instruction, click and scroll down to see full of the content.
      </li>
      <li>
        Use <span style="color: rgb(74, 170, 122);"><strong>CheckNutrient</strong></span> to check for calories, carb and fat.
      </li>
      <li>
        Use <span style="color: rgb(226, 75, 75);"><strong>Calculator</strong></span> to calculate the calories per day based on your goal. No data is saved here so only you who can check and see them.
      </li>
      <li>
        We handle your personal data (email, password and recipes) according to Swedish Personal Data Act (1998: 204) <a href="
        https://lagen.nu/1998:204">PUL</a> so contact admin <u><i>tt222kj@lnu.student.se</i></u> whenever you don't want your account anymore. Besides, the user is responsible for the copyright of recipes which they save and use in this application.  
      </li>
    </ul>
    <cite><mat-icon> sentiment_satisfied_alt</mat-icon> I hope that you can enjoy using this app. Moreover, KitchenHelper can be downloaded and used in your telephone. Don't wait to begin saving your favorite recipes.</cite>
    <p>Thanh Tran</p>
    
  </mat-card-content>
</mat-card>
