<mat-toolbar color="primary">
  <img class="logo" src="../../assets/icons/icon72.png" alt="logo" [routerLink]="['/']">
  <div class="name" [routerLink]="['/']">Kitchen Helper</div>

  <span class="spacer"></span>
   <div *ngIf="authService.isLoggedIn">
    <button mat-button (click)="logout()">Logout</button>
   </div>


  <button mat-button *ngIf="authService.isLoggedIn === false" [routerLink]="['/login']">Log In</button>
  <button mat-button *ngIf="authService.isLoggedIn === false" [routerLink]="['/register']">Register</button>
</mat-toolbar>