<mat-card class="welcome-card" *ngIf="!authService.isLoggedIn">
  <div>
  <mat-card-header class="header">
      Welcome to Kitchen Helper!
  </mat-card-header>
  <mat-card-content class="logo-container">
      <img mat-card-image src="../../assets/icons/icon.png" alt="Kichen Helper Logo">
  </mat-card-content>
  <mat-card-footer>
    <a [routerLink]="['/instruction']"><mat-icon>touch_app</mat-icon> For New User</a>
    <p><mat-icon> border_color</mat-icon> Delete Account !!! Contact Admin: <i><u>tt222kj@lnu.student.se</u></i></p>
    <p><mat-icon>people</mat-icon> It's my project for my first year at Linnaeus University</p>
  </mat-card-footer>
</div>
</mat-card>
<app-dashboard *ngIf="authService.isLoggedIn"></app-dashboard>

