.register {
  max-width: 575px;
}

mat-form-field, button {
  width: 100%;
  padding: 15px;
}

mat-label {
  padding: 10px;
  display: inline-block;
}

input {
  height: 40px;
}

.login-link {
  font-weight: 600;
  cursor: pointer;
}

.footer {
  font-size: 14px;
  margin: 0;
  text-align: end;
}